.Header {
  grid-area: h;
  background-color: rgba(158, 8, 8, 0.74);
}
.Header img {
  width: 5.2%;
}

@media only screen and (max-width: 480px) {
  .Header {
    grid-area: n;
    display: grid;
  }
  .Header img {
    width: 25px;
    height: 25px;
  }
}
