@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
.nav {
  grid-area: n;
  display: flex;
  flex-direction: column;
  padding: 10%;
  background-color: black;
  border-radius: 0px 10px 0px 0px;
}
.fontStyle {
  font-family: "Poppins";
  font-size: 2em;
  color: darkgray;
  padding-bottom: 2%;
}

@media only screen and (max-width: 480px) {
  .nav {
    font-family: "Poppins";
    grid-area: c;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    padding-top: 5px;
    font-size: 0.4em;
    border-radius: 0px 0px 10px 10px;
    background-color: black;
  }
}
