.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  width: 100%;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.app-wrapper-content {
  grid-area: c;
  background-color: bisque;
}

@media only screen and (max-width: 480px) {
  .app-wrapper {
    display: grid;
    grid-template-areas:
      " n c "
      " h h ";
  }

  .app-wrapper-content {
    grid-area: h;
  }
}
