.chat{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: azure;
}
.dialogs {
background-color: aqua;
    text-align: center;

}

.messages{
padding-left: 5%;
}